/* .mainDivCircles:hover{
    background-color: red;
} */

.mainDivCircles {
    position: relative;
    border-radius: 25px;
    background: #ffb900;
  
    width: 200px;
    height: 150px;
  }
.mainDivText:hover{
    background-color: red;
    text-align: center;
}